spring:
  datasource:
    url: jdbc:postgresql://prod-db:5432/order_db
    username: ${DB_USER}
    password: ${DB_PASS}
    hikari:
      maximum-pool-size: 24

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

logging:
  level:
    root: INFO
